@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
@model Agenda.Models.Contacto
}

<form method="post" action="/Home/Modificar" class="form-horizontal">

    <input type="hidden" name="Id" id="Id" value="@Model.Id" />


    <fieldset>


        <legend> <font face="Century Gothic"><h1>Modificar Contactos </h1></font></legend><hr /><br />


        <fieldset>
            <legend>Datos obligatorios</legend><hr /><br />

 <div class="form-group">

            @Html.LabelFor(a => a.Nombres, new { @class = "col-2" })

            <div class="col-lg-4">

                @Html.TextBoxFor(a => a.Nombres, new { @class = "form-control" }) 

            </div> <br/>

            @Html.LabelFor(a => a.Apellidos, new { @class = "col-2" })

            <div class="col-lg-4">

                @Html.TextBoxFor(a => a.Apellidos, new { @class = "form-control" })

            </div> <br/>

            @Html.LabelFor(a => a.TelefonoMovil, new { @class = "col-2" })

            <div class="col-lg-4">

                @Html.TextBoxFor(a => a.TelefonoMovil, new { @class = "form-control" })

            </div> 


        </div>


        </fieldset>
        <br />

        <fieldset>

            <legend>Otros datos</legend> <hr /> <br />


            <div class="form-group">

                @Html.LabelFor(a => a.TelefonoCasa, new { @class = "col-2" })

                <div class="col-lg-4">

                    @Html.TextBoxFor(a => a.TelefonoCasa, new { @class = "form-control" })

                </div> <br />

                @Html.LabelFor(a => a.TelefonoTrabajo, new { @class = "col-2" })

                <div class="col-lg-4">

                    @Html.TextBoxFor(a => a.TelefonoTrabajo, new { @class = "form-control" })

                </div> <br />

                @Html.LabelFor(a => a.Empresa, new { @class = "col-2" })

                <div class="col-lg-4">

                    @Html.TextBoxFor(a => a.Empresa, new { @class = "form-control" })

                </div> <br />

                @Html.LabelFor(a => a.Direccion, new { @class = "col-2" })

                <div class="col-lg-4">

                    @Html.TextBoxFor(a => a.Direccion, new { @class = "form-control" })

                </div> <br />

                @Html.LabelFor(a => a.Cedula, new { @class = "col-2" })

                <div class="col-lg-4">

                    @Html.TextBoxFor(a => a.Cedula, new { @class = "form-control" })

                </div> <br />

                @Html.LabelFor(a => a.Correo, new { @class = "col-2" })

                <div class="col-lg-4">

                    @Html.TextBoxFor(a => a.Correo, new { @class = "form-control" })

                </div> <br />


                @Html.LabelFor(a => a.FechaNacimiento, new { @class = "col-2" })

                <div class="col-lg-4">

                    @Html.TextBoxFor(a => a.FechaNacimiento, new { @class = "form-control" })

                </div> <br />

                @Html.LabelFor(a => a.Instagram, new { @class = "col-2" })

                <div class="col-lg-4">

                    @Html.TextBoxFor(a => a.Instagram, new { @class = "form-control" })

                </div> <br />

                @Html.LabelFor(a => a.Facebook, new { @class = "col-2" })

                <div class="col-lg-4">

                    @Html.TextBoxFor(a => a.Facebook, new { @class = "form-control" })

                </div> <br />

                @Html.LabelFor(a => a.PaginaWeb, new { @class = "col-2" })

                <div class="col-lg-4">

                    @Html.TextBoxFor(a => a.PaginaWeb, new { @class = "form-control" })

                </div> <br />

                @Html.LabelFor(a => a.PuestoTrabajo, new { @class = "col-2" })

                <div class="col-lg-4">

                    @Html.TextBoxFor(a => a.PuestoTrabajo, new { @class = "form-control" })

                </div> <br />




            </div>



        </fieldset> <br />

                    <fieldset>

                        <textarea name="Nota" rows="5" cols="60" placeholder="Agregar nota"></textarea> <br />

                        <br /> <div class="form-group">
                            <label class="col-2">Tipo de Contacto</label>
                            <div class="col-4">
                                @Html.DropDownListFor(a => a.Tipo, Html.GetEnumSelectList<Agenda.Models.TipoContacto>(), new { @class = "form-control" })
                            </div>
                        </div>


                    </fieldset> <br />


        <input type="submit" name="btn-enviar" id="btn-enviar" value="Enviar" />
        <style>

            #btn-enviar {
                background-color: #1b6ec2;
                font-family: Calibri;
                color: white;
                font-size: larger;
                text-align: center;
                color: #fff;
                border-color: transparent;
                display: inline-block;
                font-weight: 400;
                border-radius: 10px;
                width: 100px;
                box-shadow: aqua;
            }

                #btn-enviar:hover {
                    background-color: midnightblue
                }
        </style>

        <input type="reset" name="btn-borrar" id="btn-borrar" value="Borrar" />


        <style>

            #btn-borrar {
                background-color: #1b6ec2;
                font-family: Calibri;
                color: white;
                font-size: larger;
                text-align: center;
                color: #fff;
                border-color: transparent;
                display: inline-block;
                font-weight: 400;
                border-radius: 10px;
                width: 100px;
                box-shadow: aqua;
            }

                #btn-borrar:hover {
                    background-color: midnightblue;
                }
        </style>



    </fieldset>


</form>
<br />

<a href="/Home/"> <input type="submit" name="btn-volver" id="btn-volver" value="Home" /> </a>

<style>

    #btn-volver {
        background-color: #1b6ec2;
        font-family: Calibri;
        color: white;
        font-size: larger;
        text-align: center;
        color: #fff;
        border-color: transparent;
        display: inline-block;
        font-weight: 400;
        border-radius: 10px;
        width: 100px;
        box-shadow: aqua;
    }

        #btn-volver:hover {
            background-color: midnightblue;
        }
</style>

